{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "trimTrailingWhitespace": true,
    "stripWhitespace": true,
    "vueIndentScriptAndStyle": false,
    "htmlWhitespaceSensitivity": "ignore"
}
